.MenuButton {
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
}

.MenuButton{
    color: white;
    background-color: #8f5c2c;
    height: 100%;
    padding: 16px 10px;
    border-color: black;
    border-bottom: 4px solid transparent;
}

.MenuButton:hover,
.MenuButton:active,
.MenuButton.active{
    background-color: #8f5c2c;
    border-bottom: 4px solid #40A4C8;
    color:#40A4C8;

}